<div class="mt-2 mb-1">
  <% if submitter.phone.present? %>
    <%= button_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'), submitter_send_sms_index_path(submitter_slug: submitter.slug), method: :post, class: 'btn btn-sm btn-primary w-full' %>
  <% else %>
    <div class="tooltip w-full" data-tip="<%= t('phone_number_is_required') %>">
      <button class="btn btn-sm btn-primary btn-disabled w-full"><%= t('send_sms') %></button>
    </div>
  <% end %>
</div>
